.red {
    color: red;
}

.thick {
    font-size: 20px;
}

.green {
    color: green;
}
.g {
    color: green;
    font-style: italic;
}

.thick {
    font-size: 30px;
}

.lb {
    color: lightblue;
    font-size: 24px;
}