body {
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(16, 133, 187);
    background-image: url(background.gif);
    margin-left: 10%;
    margin-right: 10%;
}

body a {
    color: rgb(16, 133, 187);
}

body a:link {
    text-decoration: none;
}

body a:visited {
    text-decoration: none;
}

body a:hover {
    text-decoration: underline;
}

body a:active {
    text-decoration: underline;
}

h1 {
    font-size: 45px;
}

h2 {
    font-size: 25px;
}

p {
    font-size: 18px;
}


.entry {
    border: 4px #C2E9E9 solid;
    background-color: #E8FBFB;
    padding: 5px;
    margin-top: 10px;
    clear: both;
    overflow: auto;
}

.entry .date {
    border-bottom: 2px #C2E9E9 dashed;

}

.entry img {
    float: right;
}

.container {
    border: 10px white solid;
    background-color: white;
}

.header {
    background-color: #A8F0F0;
    text-align: right;
}

.header h2 {
    font-size: 14pt;
}
.Music{
    border: 4px #C2E9E9 solid;
    background-color: #E8FBFB;
    padding: 5px;
    margin-top: 10px;
    margin-right: 10px;
    float: left;
}
.entry2{
    overflow: auto;
}